body{
    background-color:aliceblue;
 
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-position: 0 center;
    background-attachment: fixed;
    backface-visibility: hidden;
    
}
p{
    background-color: rgba(255,255,0,0.8);
}
div{
    height: 200px;
    width: 200px;
    border-style: dashed;
    color: brown;
    
    border-color: blueviolet;
    padding:20px 50px 40px 30px;
    margin:10px;
}
.red{
    background-color: red;
    color:black;
    
    border-top: 0px;
    border-left-width: 20px;
    border-left-color:  darkcyan;
    /* border-left: 20px;
    border-right: 15px darkcyan; */
}
.blue{
    background-color: cyan;
    color:black;
    border-radius:50%;
    outline: goldenrod 10px solid;
    outline-offset: 10px;
    box-shadow: 1px 0 100px yellow;
    

}
.outer{
    width:auto;
    height: auto;
}