body{
    background-color:aliceblue;
    background-image: url('images/24.jpeg');
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-position: 0 center;
    background-attachment: fixed;
    backface-visibility: hidden;
    
}
p{
  
    background-image: linear-gradient(rgba());
    
}